<nav class="navbar" [ngClass]="{ scrolled: scrolledDown }">
	<ul class="navbar__list">
		<li class="navbar__item active"><a (click)="scrollTo('about')">About</a></li>
		<li class="navbar__item"><a (click)="scrollTo('careers')">Careers</a></li>
		<li class="navbar__item"><a (click)="scrollTo('skills')">Skills</a></li>
		<li class="navbar__item"><a (click)="scrollTo('contact')">Contact</a></li>
		<li class="navbar__item navbar__item--right"><a href="#">Playground</a></li>
		<li class="navbar__item">
			<button>
				<i
					class="fa-solid fa-2xl"
					[ngClass]="isDark ? 'fa-moon' : 'fa-sun'"
					(click)="setTheme(isDark ? 'light' : 'dark')"></i>
			</button>
		</li>
	</ul>

	<!-- TODO: Burguer menu for mobile -->
</nav>

<section class="landing">
	<div class="container">
		<div class="name">
			<span class="cover"></span>
			<h1>Iván Arranz<span></span></h1>
		</div>
		<div class="role">
			<div class="cover"></div>
			<p>Front-end Developer</p>
		</div>
	</div>
</section>

<section #about id="about" class="about p-16">
	<div class="container mx-auto py-6">
		<h1 class="text-5xl text-center">About me. <span class="blinking">|</span></h1>
		<p class="text-xl pl-4 pt-4 leading-loose tracking-widest">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut, ipsam eum minima voluptatum totam expedita
			dolores eaque ab ullam, asperiores aperiam necessitatibus! Cum enim amet eaque ea labore eum consequatur.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam culpa accusamus incidunt sed alias quis,
			quaerat nesciunt, quae, consequuntur optio libero! Ullam delectus consequuntur ab illum? Vel eum ut
			reprehenderit.
		</p>
	</div>
</section>
<section #careers id="careers" class="careers p-16">
	<!-- <div class="container mx-auto py-6"> -->
	<h1 class="text-5xl text-center">Careers. <span class="blinking">|</span></h1>
	<ul class="careers-list pt-4">
		<li class="careers-item" *ngFor="let career of careersList" [style.--accent-color]="career.color">
			<div class="date">{{ career.start }} - {{ career.end }}</div>
			<div class="title">
				{{ career.title }}
			</div>
			<div class="desc">
				{{ career.desc }}
			</div>
		</li>
	</ul>
	<!-- </div> -->
</section>
<section #skills id="skills" class="skills">
	<h1 class="text-5xl text-center">Skills. <span class="blinking">|</span></h1>
	<div>lorem papa perpap perar</div>
	<app-radar-chart [data]="skillArray[0]" [config]="radarChartOptions" class="w-fit h-fit mt-8"></app-radar-chart>
</section>
